{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h2 class="container mt-5" style="text-align: center">Qualquer dúvida mande um e-mail para:</h2>
        <div class="row border mt-4 p-3 meupost">
            <div class="col-3">

            </div>
            <div class="col-5" style="text-align: center">
                <h1 class="me-5">filiperochaprogramador@gmail.com</h1>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}